body {
    background: #FDFCFA;
}

.well.custom-well {
    width: 500px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 300px;
    max-width: 30%;
    height: auto;
}